{% load i18n %}
<ul class="tree-branch" xmlns="http://www.w3.org/1999/html">
    {% for node in nodes %}
        <li class="tree-item">
            <div class="tree-node" name="tree_input{{ node.id }}">
                <label>{% trans "Savol" %}:</label>
                <div class="read-only-textbox">{{ node.question }}</div>
                <label>{% trans "Javob" %}:</label>
                <div class="read-only-textbox">{{ node.answer }}</div>
                <button class="button" onclick="openAddPopup({{ node.id }})">
                    <div>+</div>
                </button>
                {# pupup menu #}
                <div id="popupmenu{{ node.id }}" class="popmenu">
                    <input type="checkbox" href="#" class="popmenu-open" name="menu-open" id="menu-open{{ node.id }}">
                    <label class="popmenu-open-button" for="menu-open{{ node.id }}">
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </label>
                    <a data-bs-toggle="modal"
                       data-bs-target="#modalCenter{{ node.id }}"
                       class="popmenu-item item-1">
                        <i class="fa-solid fa-pen-to-square"></i></a>
                    <a onclick="confirmDelete({{ node.id }})" class="popmenu-item item-2">
                        <i class="fa-solid fa-trash"></i></a>
                </div>

            </div>
            <div id="popupA{{ node.id }}" class="popupA" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="forma" value="f1">
                    <input type="hidden" name="node_id" value="{{ node.id }}">
                    <label>{% trans "Savol 🇺🇿" %}:</label>
                    <input type="text" name="question" required
                           value="{{ node.question_uz }}">
                    <label>{% trans "Savol 🇷🇺" %}:</label>
                    <input type="text" name="question" required
                           value="{{ node.question_ru }}">
                    <label>{% trans "Javob 🇺🇿" %}:</label>
                    <input type="text" name="answer" required value="{{ node.answer_uz }}">
                    <label>{% trans "Javob 🇷🇺" %}:</label>
                    <input type="text" name="answer" required value="{{ node.answer_ru }}">
                    <br>
                    <button type="submit">{% trans "O'zgartish" %}</button>
                    <button type="button" onclick="closePopupA({{ node.id }})">{% trans "Bekor qilish" %}</button>
                </form>
            </div>

            <div id="popupE{{ node.id }}" class="popupA" style="display: none;">
                <form method="post">{% csrf_token %}
                    <input type="hidden" name="forma" value="f2">
                    <input type="hidden" name="parent_id" value="{{ node.id }}">
                    <label>{% trans "Savol 🇺🇿" %}:</label>
                    <input type="text" name="question_uz" required>
                    <label>{% trans "Savol 🇷🇺" %}:</label>
                    <input type="text" name="question_ru" required>
                    <label>{% trans "Javob 🇺🇿" %}:</label>
                    <input type="text" name="answer_uz" required>
                    <label>{% trans "Javob 🇷🇺" %}:</label>
                    <input type="text" name="answer_ru" required>
                    <br>
                    <button type="submit">{% trans "Yaratish" %}</button>
                    <button type="button" onclick="closePopupE({{ node.id }})">
                        {% trans "Bekor qilish" %}
                    </button>
                </form>
            </div>

            <div class="modal fade" id="modalCenter{{ node.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Tahrirlash</h5>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameWithTitle"
                                           class="form-label">{% trans "Savol 🇺🇿" %}:</label>
                                    <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            value="{{ node.question_uz }}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameWithTitle"
                                           class="form-label">{% trans "Savol 🇷🇺" %}:</label>
                                    <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            value="{{ node.question_ru }}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameWithTitle"
                                           class="form-label">{% trans "Javob 🇺🇿" %}:</label>
                                    <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            value="{{ node.answer_uz }}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameWithTitle"
                                           class="form-label">{% trans "Javob 🇷🇺" %}:</label>
                                    <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            value="{{ node.answer_ru }}"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">
                                {% trans "Bekor qilish" %}
                            </button>
                            <button type="button" class="btn btn-primary">{% trans "O'zgartish" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if node.child_nodes.all %}
                {% include 'recursive_tree.html' with nodes=node.child_nodes.all %}
            {% endif %}
            </input>
        </li>
    {% endfor %}
</ul>
